<ul>
  <li>
    <a href="/public/">Home</a>
  </li>
  {if isset($user)}
    <li>
      <a href="/public/users/search">Search</a>
    </li>
    <li>
      <a href="/public/users/profile">Profile</a>
    </li>
    <li>
      <a href="/public/users/settings">Settings</a>
    </li>
    <li>
      <a href="/public/users/logout">Logout</a>
    </li>
  {/if}
  {else}
    <li>
      <a href="/public/users/register">Register</a>
    </li>
    <li>
      <a href="/public/users/login">Login</a>
    </li>
  {/else}
</ul>