<ul>
  <li>
    <a href="/public/">Home</a>
  </li>
  {if (isset($user) && $user->admin)}
    <li>
      <a href="/public/users/view">View Users</a>
    </li>
    <li>
      <a href="/public/files/view">View Files</a>
    </li>
  {/if}
  {if isset($user)}
    <li>
      <a href="/public/search">Search</a>
    </li>
    <li>
      <a href="/public/profile">Profile</a>
    </li>
    <li>
      <a href="/public/settings">Settings</a>
    </li>
    <li>
      <a href="/public/logout">Logout</a>
    </li>
  {/if}
  {else}
    <li>
      <a href="/public/register">Register</a>
    </li>
    <li>
      <a href="/public/login">Login</a>
    </li>
  {/else}
</ul>